* { 
  box-sizing: border-box; 
}

body{
  background: #fafafa;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.white-border{
  background-color: white;
  padding: 1rem;
}
.yellow-wood {
  background-color:#E0B75B;
  padding: 3rem;
}
.ludo-board {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  border: 3px solid #333;
  width: min(100vmin, 800px); 
  aspect-ratio: 1 / 1;      
  box-sizing: border-box;
}

.rules {
  width: 30%;
}
.player-playing,.next-player-playing{
  display: flex;
  gap: .48rem;
}
.current-player-title, .next-player-title {
  font-weight: bold;
}
/* Home base */
.green-home {
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
  padding: 1rem;
  background-color: #2ecc71;
}
.green-home .img {
  background: url('./images/MAJID.jpg') center center no-repeat, #2ecc71;
  height: 18rem;
}
.red-home {
  grid-area: 1 / 3 / 2 / 4;
  border-bottom: 3px solid #333;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
  padding: 1rem;
  background-color: #e74c3c;;
}
.red-home .img {
  background: url('./images/MAJID.jpg') center center no-repeat, #2ecc71;
  height: 18rem;
}

.yellow-home {
  grid-area: 3 / 1 / 4 / 2;
  border-top: 3px solid #333;
  border-bottom: 1px solid #333;
  border-right: 3px solid #333;
  padding: 1rem;
  background-color: #f1c40f;
}
.yellow-home .img {
  background: url('./images/MAJID.jpg') center center no-repeat, #f1c40f;
  height: 18rem;
}
.blue-home {
  grid-area: 3 / 3 / 4 / 4;
  border-top: 3px solid #333;
  border-bottom: 1px solid #333;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
  padding: 1rem;
  background-color: #3498db;
}
.blue-home .img {
  background: url('./images/MAJID.jpg') center center no-repeat, #2ecc71;
  height: 18rem;
}

/* Paths */
.path {
  display: grid;
  background: #333;
  gap: 3px;
}

.red-path {
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(6, 1fr);    
}

.cell {
  position: relative;
  background: #fff;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-path {
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(3, 1fr);    
}

.yellow-path {
  grid-area: 3 / 2/ 4 / 3;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(6, 1fr);    
  border-bottom: 1px solid #333;
}

.blue-path {
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  border-right: 3px solid #333;
}

.center {
  background:  #333;
  position: relative;
  display: flex;
  justify-content: center;
  grid-area: 2 / 2 / 3 / 3;
}

.center img {
  width: 7rem;
}

/* Highlight home: middle row */
.green-path .cell:nth-child(2),
.green-path .cell:nth-child(n+8):nth-child(-n+12) {
  background: #2ecc71;
}

.blue-path .cell:nth-child(17),
.blue-path .cell:nth-child(n+7):nth-child(-n+11) {
  background: #3498db
} 

/* Yellow cell paths*/
.yellow-path .cell:nth-child(2),
.yellow-path .cell:nth-child(5),
.yellow-path .cell:nth-child(8),
.yellow-path .cell:nth-child(11),
.yellow-path .cell:nth-child(13),
.yellow-path .cell:nth-child(14) {
  background: #f1c40f;
}


/* Red cell paths */
.red-path .cell:nth-child(5),
.red-path .cell:nth-child(6),
.red-path .cell:nth-child(8),
.red-path .cell:nth-child(11),
.red-path .cell:nth-child(14),
.red-path .cell:nth-child(17) {
  background: #e74c3c;
}

/* Tokens */
.tokens {
  display: grid;
  grid-template-columns: repeat(2, 40px);
  grid-template-rows: repeat(2, 40px);
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
}

.token {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.token.retired {
  background: transparent !important;
  opacity: 0.4;
  transform: scale(0.8);
  pointer-events: none; 
  filter: grayscale(100%);
}

.token.stack-1 { position: absolute; top: 0; left: 0; z-index: 1; }
.token.stack-2 { position: absolute; top: 5px; left: 5px; z-index: 2; }
.token.stack-3 { position: absolute; top: 10px; left: 10px; z-index: 3; }
.token.stack-4 { position: absolute; top: 15px; left: 15px; z-index: 4; }

.red-tokens .token { background: #e74c3c; }
.green-tokens .token { background: #2ecc71; }
.yellow-tokens .token { background: #e7c84d; }
.blue-tokens .token { background: #3498db; }

.active-token {
  border: 2px solid white;
}

.active-bg {
  background: #e7c84d;
}

/* Dice */
.dice {
  position: absolute;
  cursor: grabbing;

}
.die {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

.roll-animate {
  animation: roll 0.5s infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.winner-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  z-index: 9999;
}
